
/* Info Circle
==================================================================*/

.info-circle {
  text-align: center;
}

.info-circle .entry-circle {
  width: 113px;
  height: 113px;
  display: inline-block;
  border: 2px solid #333333;
  border-radius: 50%;
  font-size: 50px;
  line-height: 113px;
  color: #333333;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.info-circle .entry-circle i {
  line-height: 113px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  top: -3px;
  position: relative;
}

.info-circle .entry-circle span {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  width: 42px;
  height: 42px;
}

.info-circle .entry-circle svg {
  width: 42px;
  height: 42px;
  display: inline-block;
}

.info-circle .entry-circle svg path {
  fill: #333333 !important;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.info-circle h6 {
  font-family: 'Lato';
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 18px;
}

.info-circle:hover .entry-circle {
  border-color: #4ac3bf;
  background-color: #4ac3bf;
}

.info-circle:hover .entry-circle i {
  color: #fff;
}

.info-circle:hover .entry-circle span {
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  filter: invert(1);
}

.info-circle:hover .entry-circle svg path {
  fill: #fff !important;
}

.info-circle:hover h6 {
  color: #4ac3bf;
}
