/* Icon Boxes
==================================================================*/

.icon-boxes {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

.icon-boxes .box-item {
  float: left;
  width: 20%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.icon-boxes .box-item .entry-item {
  position: relative;
  border: 2px solid #333333;
  color: #333333;
}

.icon-boxes .box-item .entry-item .image-block {
  width: 100%;
  display: block;
}

.icon-boxes .box-item .entry-item i {
  font-size: 72px;
  position: absolute;
  display: inline-block;
  height: 72px;
  text-align: center;
  left: 0px;
  width: 100%;
  top: 50%;
  margin-top: -36px;
}

.icon-boxes .box-item .entry-item span {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 108px;
  height: 72px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -36px;
  margin-left: -54px;
}

.icon-boxes .box-item .entry-hover {
  position: absolute;
  background-color: #333333;
  color: #fff;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  visibility: hidden;
  opacity: 0;
  padding: 25px;
  transition: all 0.25s ease;
}

.icon-boxes .box-item .entry-hover h6 {
  color: #fff;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0px;
}

.icon-boxes .box-item .entry-hover p {
  font-size: 14px;
  font-weight: normal;
  line-height: 23px;
}

.icon-boxes .box-item:hover .entry-hover {
  left: -30px;
  right: -30px;
  top: -15px;
  bottom: -15px;
  visibility: visible;
  opacity: 1;
}